/* ======================= */
/* CSS VARIABLES */
:root {
  --main-bg: #1c1c1c;
  --content-bg: #242424;
  --accent: #74c4ba;
  --accent-hover: #63a79f;
  --gray: #878787;
  --red: #ff3509;
  --white: #ffffff;
}

/* ======================= */
/* GENERAL CSS */
body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--main-bg);
}

/* ======================= */
/* NAVBAR */
.navbar {
  width: 95%;
  min-height: 70px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: var(--white);
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
}

.logo span {
  color: var(--accent);
}

.date {
  color: var(--gray);
}

.line {
  height: 1px;
  background-color: var(--gray);
}

/* ======================= */
/* Input section */
.form {
  width: 60%;
  min-height: 80px;
  background-color: var(--content-bg);
  margin: 50px auto;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input[type="text"],
input[type="number"] {
  background-color: var(--main-bg);
  border: none;
  min-height: 20px;
  padding: 10px;
  color: var(--white);
}

input[type="text"]:focus-visible,
input[type="number"]:focus-visible {
  outline: none;
  border: 1px solid var(--accent);
}

input[type="number"] {
  width: 100px;
}

.inputs {
  display: flex;
  gap: 30px;
}

.options {
  display: flex;
  flex-direction: column;
}

.option-name {
  text-transform: uppercase;
  color: var(--white);
  font-size: 0.9rem;
}

#submit-btn {
  padding: 10px 20px;
  background-color: var(--accent);
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--white);
}

#submit-btn:hover {
  cursor: pointer;
  background-color: var(--accent-hover);
}

/* ======================= */
/* Income section */

.main-section {
  width: calc(60% + 60px);
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.column {
  width: 50%;
  min-height: 300px;
  background-color: var(--content-bg);
  padding: 30px;
  position: relative;
}

.column-heading {
  font-size: 1.8rem;
  text-transform: uppercase;
  color: var(--white);
  border-bottom: 1px solid var(--gray);
  padding-bottom: 20px;
}

.person {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}

.name {
  color: var(--gray);
}

.person-info {
  display: flex;
  gap: 40px;
}

.amount {
  color: var(--gray);
}

.buttons i {
  font-size: 1.3rem;
}

.buttons i:hover {
  cursor: pointer;
}

.checkmark {
  color: var(--accent);
}

.remove {
  color: var(--red);
}

.outstanding {
  position: absolute;
  bottom: 30px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  color: var(--white);
}

@media (max-width: 1000px) {
  .form {
    width: 80%;
  }

  .main-section {
    width: calc(80% + 60px);
  }
}

@media (max-width: 800px) {
  .navbar {
    width: 95%;
  }

  .form {
    width: 90%;
  }

  .main-section {
    flex-direction: column;
  }

  .column {
    width: 80%;
    margin: auto;
  }
}

@media (max-width: 650px) {
  .form {
    width: 80%;
    padding: 30px 0;
    gap: 30px;
    flex-direction: column;
    justify-content: flex-start;
  }
}
